{% extends "base.html" %}

{% block title %} Sign Up {% endblock %}

{% load crispy_forms_tags %}

{% block content %}    
    <div class="container-fluid">
        <p></p>
        <div class="col-md-4">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}    
                <br>              
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
{% endblock %}