{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <br>
        <div class="jumbotron">
            <h5 class="display-4"><b>WILMatch</b></h5>
            <hr>
            <p class="lead"> -- where your skills meet opportunities!</p>
            <p class="lead"> Work-Intergrated Learning (WIL) plays an essential role in shaping a student's life. By analyzing profiles and aligning it with tailored job descriptions, <b>WILMatch</b> streamlines the process of securing the right internship, enabling individuals to acquire substantial and valuable experience, and grow in their career journey. Let us make your internship search simple and impactful! </p>
            <p class="lead"> Start creating your path to success today!</p>
            <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>         
        </div>

        <div class="container-fluid">
        <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Our Mission</h2>
                    <p>"To empower individuals by connecting their unique talents and aspirations with opportunities that matter. 
                        <span id="dots">...</span>
                        <span id="more_m" class="collapse">We strive to bridge the gap between skills and meaningful internships, fostering personal and professional growth while supporting organizations in discovering the right talent for their needs." </span>
                    </p>
                    <p><a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#more_m" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Our Vision</h2>
                    <p>"To be the leading platform for internship matchmaking, shaping a future where every individual has access to opportunities 
                        <span id="dots">...</span>
                        <span id="more_v" class="collapse"> that unlock their full potential, and every organization thrives with the right talent. We aim to inspire growth, innovation, and success by creating meaningful connections between aspiring professionals and industry leaders." </span>
                    </p>
                    <p><a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#more_v" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Core Values</h2>
                    <p>Our core values represent growth and exploration. </p>
                    <p>Keep that <b>DICE</b> rolling!</p>
                    <i><b>D</b>iversity</i> 
                    <p>We celebrate and promote diversity, ensuring equal access to opportunities for individuals from all backgrounds and fostering an inclusive environment.
                    <span id="dots">...</span>
                    <span id="more_c" class="collapse">
                    <br><i><b>I</b>nnovation</i>
                    We embrace technology and forward-thinking approaches to continuously improve our platform, ensuring efficient and effective matches for all.
                    <br><i><b>C</b>ollaboration</i>
                    We value strong partnerships with individuals, educational institutions, and companies, working together to create impactful opportunities.
                    <br><i><b>E</b>mpowerment</i>
                    We are committed to empowering individuals to realize their potential by connecting them with meaningful opportunities that align with their skills and ambitions.</span>
                    </p>                                        
                    <p><a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#more_c" href="#" role="button">View details &raquo;</a></p>
                    </article>                
                </div>
            </div>
            <hr>
            <div>
                <center><p class="lead"> Copyright  2025 </p> </center>
            </div>
        </div> <!-- /container -->
    </main>

    <style>

    </style>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}