{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//style.css" rel="stylesheet", id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--{% for jp in user.jobpostaccount.all %}  <p><a href="/{{jp.id}}">{{jp.name}}<a></p>   {% endfor %} -->
    <form method="POST">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-4">
                            <div class="profile-img">
                                <img src="https://cdn11.bigcommerce.com/s-d05toasu/products/2152/images/8226/5860__15147__74329.1673903891.600.600.jpg?c=2" alt={{ user.username }}/>
                                <div class="file btn btn-sm btn-primary">
                                    Change Photo
                                    <input type="file" name="file"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-head">
                                <h5> {{ user.username }} </h5>
                                <h6> Galaxy Explorer </h6>                      <!-- Data from Job Post Account-->
                                </br>
                                <h6> A bit about me </h6> 
                                <br/><br/>
                                <ul class="nav nav-tabs" id="my_tab" role="tablist">
                                    <li class="nav-item">                       <!--How to, shifting tabs-->
                                        <a 
                                            class="nav-link" 
                                            data-toggle="tab" 
                                             
                                            role="button" 
                                            onclick="/profile_user.html"
                                            aria-selected="false">Profile
                                        </a>
                                    </li>        
                                    <li class="nav-item">
                                        <a 
                                            class="nav-link active" 
                                            data-toggle="tab" 
                                            
                                            role="button"  
                                            onclick="/profile_jobpost.html"                                                  
                                            aria-selected="true">Job Post Account
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>                        
                    </div>
                </div>               
                <br>
                <div>
                    <h3> JOB POST ACCOUNT </h3>
                    <p> All are required fields. Curricular skills are those that you have earned through a university, while non-curricular are those that you have earned through self-study or via other means. </p>
                    <br><br>                    
                    <form method="POST" class="form-group">
                        {% csrf_token %}
                        {{form|crispy}}                        
                        <br><br>
                        <button class="btn btn-success my-2 my-sm-0" type="submit">&emsp; Save &emsp;</button>                          
                        <br><br> 
                    </form>
                </div>
            </div>
        </div>
    </form>
    
{% endblock %}